.mail-star {
    visibility: hidden;
    font-size: 30px;
    cursor: pointer;
    color: #f4b400;
}

.mail-star:before {
    content: "\2605";
    position: absolute;
    visibility: visible;
}

.mail-star:checked:before {
    content: "\2606";
    position: absolute;
}

.mail-star.on {
    color: rgba(0, 0, 0, 0.121);
}

.mail-star.of {
    color: #f4b400;
}