.mail-preview {
    display: flex;
    /* justify-content: space-between; */
    padding: 0 1rem;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.121);
}

.mail-preview>* {
    max-width: 14.2857%;
    flex-grow: 1;
}

.bond {
    display: flex;
    justify-content: space-around;
}

.bond button {
    color: unset;
    border: 0;
    background-color: unset;
}