* {
    box-sizing: border-box;
}

html {
    font-family: roboto;
    background-color: var(--primary-background-clr);
    background: transparent;
    color: var(--primary-clr-black);
}

body {
    margin: 0;
}

a {
    color: unset;
    text-decoration: none;
}

ul {
    list-style: none;
}