.check {
    /* word-break: break-word; */
    position: relative;
    z-index: 1;

}

.check form {
    display: flex;
    flex-direction: column;
}

.check .add-button {
    position: absolute;
    right: 0;
    bottom: 20px;
    right: 10px;
    background-color: inherit;
    border-radius: 15px;
}

.blank-shadow {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

}

.note-type-buttons {
    position: relative;
    z-index: 1;
}

.add-note-decoy {
    width: 600px;
    height: 50px;
    border: 1px solid var(--notes-border-clr);
}




textarea {
    height: 80px;
    width: 600px;
    resize: none;
    font-family: roboto;
    font-size: 1rem;
}


/* input {
    width: 300px;
    word-break: break-word;
} */