.note {
    display: flex;
    flex-direction: column;
}


.note img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 15rem;
    margin-bottom: 1rem;
}

.note a {
    display: flex;
    flex-direction: column;
    background-color: inherit;
}

.note span {
    margin-bottom: 1rem;
}

iframe {
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: none;
    width: 100%;
}