.note-card {


    min-height: fit-content;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.5px solid var(--notes-border-clr);
    flex-wrap: wrap;
    margin-bottom: 30px;
    border-radius: 15px;

}

.note {
    display: flex;
    flex-direction: column;
}


.note img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 15rem;
    margin-bottom: 1rem;
}

.note a {
    display: flex;
    flex-direction: column;
    background-color: inherit;
}

.note span {
    margin-bottom: 1rem;
}

.note iframe {
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: none;
    width: 100%;
    margin-bottom: 1rem;
}