.note {
    display: flex;
    flex-direction: column;
}


.note img {
    object-fit: cover;
    overflow-y: hidden;
    width: 100%;
    height: 15rem;
    margin-bottom: 1rem;
}

.note a {
    display: flex;
    flex-direction: column;
    background-color: inherit;
}

.note span {
    margin-bottom: 1rem;
}

iframe {
    width: 100%;
}