.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.121);
}

.app-header nav a {
    margin: 1rem;
}

.nav-container {
    background-color: var(--notes-main-color);
    border: 1px solid var(--notes-border-clr);
    box-shadow: 1px 5px 10px 2px var(--notes-border-clr);
    position: absolute;
    width: 200px;
    right: 0;
    top: 65px;
    transform: translateX(100%);
    z-index: 1;
    display: none;
}

.nav-container img {
    margin: 5px;
}

.nav-container.open {
    transform: translateX(10%);
    display: block;
}

.nav-shadow {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.menu-toggler {
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.menu-toggler:hover {
    background-color: var(--menu-hover-clr);
}

.app-logo-header {
    width: 80px;
}

.app-logo {
    position: relative;
    z-index: -1;
    width: 90px;
}